include LICENSE
include README.md
include TOOLS.md
include DOCKER.md
include .env.example
include pyproject.toml
recursive-include integrations *.json
recursive-include src *.py
recursive-include web_panel *.py
recursive-include web_panel/templates *.html
